/* Stylesheet */
section {
  margin-bottom: 80px;
}

/* Grid demo */
.cursor-grid-demo article {
  background: springgreen;
  aspect-ratio: 3/2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 700;
}

/* Image */
.cursor-image img {
  aspect-ratio: 1280/560;
  width: 100%;
}


/**
 * Custom on hover
 */
.css-cursor.style-grid .css-cursor-inner {
  width: 60px;
  height: 60px;
}

.css-cursor.style-image .css-cursor-inner {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, .4);
}
