* {cursor:none;}
.dg.ac {z-index:99999 !important;}
.dg.ac, .dg.ac * {cursor:auto;}
body {
    background-color:#fff; color:#000; margin:0; min-height:100vh;
    display:flex; align-items:center; justify-content:space-between; flex-direction:column;
    font-family:"Nunito", sans-serif; font-size:18px;
    line-height:1.5;
}
body:before {content:"";}
::selection {
    color:#fff;
    background:cornflowerblue;
}
.container {
    width:100%;
    max-width:768px;
    padding:0 20px;
}

code {
    background:aliceblue; display:block;
    padding:10px; border-radius:5px;
    font-size:16px;
}
a {color:cornflowerblue;}
.btn {
    text-decoration:none;
    background:cornflowerblue; color:#fff;
    border-radius:4px; padding:10px 30px;
}
.image {box-shadow:0 0 5px rgba(0, 0, 0, .2); border-radius:5px; overflow:hidden; height:432px; background:rgba(0, 0, 0, .05);}
.image img {max-width:100%; display:block;}

footer {
    padding:5vh 20px;
    text-align:center;
}
footer a {text-decoration:none; display:inline-block;}