/**
 * Variables
 */
$font-size: 1rem;
$font-family: 'Finlandica', sans-serif;
$page-width: 768px;
$color-primary: #f1c400;
$color-on-primary: #141414;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: $font-family;
  padding: 20px;
  margin: 0;
}

.container {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
}